**/config.inc
**/tmpl
**/pwfile.inc
**/ldap_servers_auth.json
**/ldap_servers_cred.json
**/classroom_recorder_ip.inc
**/admin.inc
**/HELLO
**/*.log
**/*.old
**/*.orig
**/**/*.old
**/**/*_old
**/**/*.orig
**/**/*_orig
**/renderers.inc
**/var/**
**/**/var/**
/nbproject/private/
/nbproject/**
**/nbproject
**/localpaths
**/_log
**/.DS_Store
**/first_user
./first_user
./log
