.grisfoncelarge 
{
        line-height: 24px;
        background-color: #999999;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #999999;
        text-decoration: none
}
.grisfonceetroit 
{
        line-height: 12px;
        background-color: #999999;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #000000;
        text-decoration: none
}
.grisclairlarge 
{
        line-height: 24px;
        background-color: #CCCCCC;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #999999;
        text-decoration: none
}
.grisclairetroit 
{
        line-height: 12px;
        background-color: #CCCCCC;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #000000;
        text-decoration: none
}
.rouge 
{
        line-height: 14px;
        background-color: #CC0000;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #000000;
        text-decoration: none
}
.vert 
{
        line-height: 14px;
        background-color: #00CC00;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #000000;
        text-decoration: none
}
body {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #000000;
margin: 0px;
} 
th {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: #000000;
}

td {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: #000000;
}

.green{
    color: rgb(114,187,29);
}

.red{
    color: red;
}

.button{
    display: block; 
    margin-left: 10px; 
    width: 120px; 
    text-align:center; 
    padding: 4px 0px; 
    background: #AAA; 
    color: #fff; 
    text-decoration: none; 
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.button:hover{
    background: #777; 
}


html{
    min-height:100%;
}

body{
    min-height:100%;
    font-family: Trebuchet,"Trebuchet MS",Arial,Helvetica,Sans-serif;

}

.container_ezplayer{
    position:absolute;
    min-height:100%;
    width:100%;
    background-color:#ffffff;
}

#global{
    position:relative;
    min-height:540px;
    margin: 0 auto;
    margin-top: 15px;
    padding-bottom:65px;
    width:1024px;
    background-color:#ffffff;
}

#login_form{
    font-family: Trebuchet,"Trebuchet MS",Arial,Helvetica,Sans-serif;	
    font-size:12px; 
  /*  color:#000000;  */
    color: #444444;
    background-color: #F9F8F8;
 /*   margin-left:30px; */
 /*   line-height:40px; */
    
    width: 255px; 
 /*   height: 280px; */
 /*   padding-left: 15px; */
  /*  padding-right: 15px; */
    padding:10px 25px 25px 25px;
    margin:auto;

    border-radius: 25px;
    border: 1px dotted #BEBEBE;
    margin-top:50px;
    
  /*  text-align: center; */
}

#login_form label {
    min-width: 70px;
    text-align: right;
    display: inline-block;
    margin-bottom: 15px;
}

#login_form h2{
    font-size: 22px;
    padding: 8px 0px;
    margin: 0px 0px 15px 0px;
    font-weight: normal;
}

#login_form h4{
    font-size: 14px;
    padding-bottom: 4px;
}

#login_fields{
    margin: 15px 0px 0px 0px;
}

#login_fields input{
    width: 160px;
}

/* ///////////////// H E A D E R /////////////// */
.header {
    background-color: #F9F8F8;
    margin: auto;
    padding: 15px 0px;
    height: 40px;
    border-bottom: 1px solid #004C93;
    margin-bottom: 15px;
}

.header_content {
    margin: auto;
    width: 934px;
}


.logout{
    float: right;
    padding: 3px 5px;
    font-size: 12px;
    margin-top: -12px;
}

.header_content a {
    text-decoration:none;
    color: #6e6e6e;
}

.header_content a:hover {
    text-decoration:none;	
    color: #004C93;
}

.logo{
    padding-left: 12px;
    display: block;
}

.logo a{
    margin-right: 15px;
}

/* /////////////// F O O T E R /////////////// */


.footer {
    position: absolute;
    clear: both;
    /*    margin-top: -100px; */
    background: #292929;
    height: 35px;
    width: 100%;
    bottom: 0px;
}

.footer_content {
    margin: auto;
    width: 934px;
}

.footer_mention{
    font-size: 10px; 
    color: #7BB3B6; 
    margin: 13px 0px; 
    float: left;
}
.footer_mention a {
    text-decoration: none; 
    color: #BBBBBB; 
    padding: 0px; 
    margin: 0px;
}
.footer_mention a:hover {
    color: #7BB3B6; 
}


.copyright {
    margin: 13px 0px;
    font-size: 10px;
    color: #7bb3b6;
    float: right;
}

.copyright a {
    text-decoration: none;
    color: #7bb3b6;
}

.copyright a:hover {
    color: #ffffff;
}